@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body{
    background-color: #faf8f6;
}

nav{
	padding-top: 0%;
	background-color: #ffbf00;
	padding: 10px;
	padding-bottom: 0;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

nav a{
    padding-top: 70px;
    text-align: center;
    float: left;
}

.nav-links{
    float: right;
}

.nav-links a{
    margin-left: 20px;
    margin-right: 20px;
}

nav img{
	padding-top: 0;
    width: 110px;
    height: 100px;
    padding-left: 20px;
    padding-bottom: 0%;
	
   
   
    
}

h1 {
	font-size: 35px;
	font-family: "Antonio", sans-serif;
}

h2 {
	font-family: "Nunito", sans-serif;
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-size: 15px;
}

h1,
h2,
h3,
h4,
p {
	color: #56544f;
}

.nav-links a:hover {
	text-decoration: underline;
	text-decoration-color: #56544f;
	color: #56544f;
	text-decoration-thickness: 4px;
	text-underline-offset: 10px;
}


.events h1{
	align-items: center;
	text-align: center;
	margin-left: 15px;
}

.events img{
	width: 300px;
	display: flex;
	
	margin-right: 90px;
	height: 200px;
	margin-top: 50px;
	margin-left: 150px;
	float: left;
}
	
.outer {
	background-color: #ffbf00;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	margin-top: 100%;
	padding-bottom: 50px;

}








.menu-icon{
	float: right;
}

