@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
	background-color: #faf8f6;
}

nav {
	padding-top: 0;
	background-color: #ffbf00;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: "Nunito", sans-serif;
	font-weight: bold;
}

nav a {
	padding-top: 70px;
	text-align: center;
	float: left;
}

.nav-links {
	float: right;
}

.nav-links a {
	margin-left: 20px;
	margin-right: 20px;
}

nav img {
	width: 110px;
	height: 100px;
	padding-left: 20px;
}

h1 {
	font-size: 35px;
	font-family: "Antonio", sans-serif;
	
}

h2 {
	font-family: "Nunito", sans-serif;
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-size: 15px;
}

h1,
h2,
h3,
h4,
p {
	color: #56544f;
}

.primary {
	background-color: #56544f;
	padding: 20px;
	margin-left: 15px;
	margin-right: 80%;
}

.primary a:hover {
	color: #ffbf00;
}

.nav-links a:hover {
	text-decoration: underline;
	text-decoration-color: #56544f;
	color: #56544f;
	text-decoration-thickness: 4px;
	text-underline-offset: 10px;
}

.breastcancer {
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
   
}

.breastcancer img {
    width: 100%;
    height: 100%;
    border-radius: 25px; 
}

.muscle {
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
}

.muscle img {
    width: 100%;
    height: 100%;
    border-radius: 25px; 
}

.movement {
	width: 200px;
    height: 140px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box;

}

.movement img {
	width: 100%;
    height: 200%;
    border-radius: 25px; 
}


.transcranial {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
}

.transcranial img {
    width: 100%;
    height: 50%;
    border-radius: 25px; 
}

.fatigue {
    width: 200px;
    height: 140px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
}

.fatigue img {
    width: 100%;
    height: 100%;
    border-radius: 25px; 
}


.knee {
    width: 200px;
    height: 140px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
}

.knee img {
    width: 100%;
    height: 100%;
    border-radius: 25px; 
}


.ghost {
    width: 150px;
    height: 170px;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 25px;
    background: #FFBF00;
    padding: 5px;
    box-sizing: border-box; 
}

.ghost img {
    width: 100%;
    height: 10%;
    border-radius: 25px; 
}


.centered-1 {
	position: absolute;
	top: 75%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-2 {
	position: absolute;
	top: 100%;
	left: 53%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-3 {
	position: absolute;
	top: 120%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-4 {
	position: absolute;
	top: 155%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-5 {
	position: absolute;
	top: 180%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-6 {
	position: absolute;
	top: 203%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .centered-7 {
	position: absolute;
	top: 230%;
	left: 52%;
	transform: translate(-50%, -50%);
	color: white;
  }